*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    background-color: rgb(87, 165, 139);
    width: 100%;
    height: 100%;
}

#heading{
width: 100%;
color:rgb(14, 64, 4);
padding-top: 2%;
display: flex;
font-size: large;
align-items: center;
justify-content: center;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(87, 165, 139);
}

#panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    background-color: rgb(222, 222, 222);
    border-radius: 10px;
}

#ptop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30%;
    color: #fff;
    gap : 20px;
    width: 100%;
    height: 80px;
    background-color: rgb(58, 137, 42);
}

.elem{
    display: flex;
    gap: 10px;
    color: #fff;
}

.box{
    background-color: #fff;
    color: rgb(58, 137, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20;
    padding: 10px 20px;
    height: 30px;
    width: 30px;
    border-radius: 5px;

}

#pbtm{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    height: calc(100% - 100px);
}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(58, 137, 42);
    color: #fff;
    
}

.bubble:hover{
    background-color: rgb(89, 210, 65);
    cursor: pointer;
}

#pbtm img{
    padding: 0 30%;
}

#start:hover{
    cursor: pointer;
}

#start {
    background-color: #164217; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}